.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 800px;
  margin: 200px auto;
}

p {
  font-size: 100px;
  color: white;
}

div {
  display: flex;
  margin-right: 50px;
}

button {
  font-size: 50px;
  margin-left: 100px;
  outline: none;
  background-color: #FFA500;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
}

button:hover {
  background-color: green;
}